.App{
    display: flex;
    justify-content: center;
}

.button{
    background-color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 300px;
}

.button:hover{
    background-color: #f3eaea;
}

.modal-window{
    visibility: hidden;
    position: fixed;
    background-color: #fff;
    border: solid 2px;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 300px;
    transition: transform 600ms;
}

.modal-window.show{
    visibility: visible;
    transform: translateY(-70px);
}

.img{
    border-radius: 10px;
}

.X{
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    opacity: 0.7;
}

.X:hover{
    opacity: 1;
}